<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--clients-->
		<add key="GetAllClients" value="http://localhost:5000/api/clients"/>
		<add key="CreateClient" value="http://localhost:5000/api/clients/create"/>
		<add key="UpdateClient" value="http://localhost:5000/api/clients/update"/>
		<add key="DeleteClient" value="http://localhost:5000/api/clients/delete"/>

		<!--employees-->
		<add key="GetAllEmployees" value="http://localhost:5000/api/employees"/>
		<add key="CreateEmployee" value="http://localhost:5000/api/employees/create"/>
		<add key="UpdateEmployee" value="http://localhost:5000/api/employees/update"/>
		<add key="DeleteEmployee" value="http://localhost:5000/api/employees/delete"/>
		
		
	</appSettings>
</configuration>