<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--clients-->
		<add key="GetAllClients" value="http://localhost:5000/api/clients"/>
		<add key="GetClientById" value="http://localhost:5000/api/clients"/>
		<add key="CreateClient" value="http://localhost:5000/api/clients/create"/>
		<add key="UpdateClient" value="http://localhost:5000/api/clients/update"/>
		<add key="DeleteClient" value="http://localhost:5000/api/clients/delete"/>

		<!--employees-->
		<add key="GetAllEmployees" value="http://localhost:5000/api/employees"/>
		<add key="GetEmployeeById" value="http://localhost:5000/api/employees"/>
		<add key="CreateEmployee" value="http://localhost:5000/api/employees/create"/>
		<add key="UpdateEmployee" value="http://localhost:5000/api/employees/update"/>
		<add key="DeleteEmployee" value="http://localhost:5000/api/employees/delete"/>
		
		<!--devices-->
		<add key="GetAllDevices" value="http://localhost:5000/api/devices"/>
		<add key="GetDeviceById" value="http://localhost:5000/api/devices"/>
		<add key="CreateDevice" value="http://localhost:5000/api/devices/create"/>
		<add key="UpdateDevice" value="http://localhost:5000/api/devices/update"/>
		<add key="DeleteDevice" value="http://localhost:5000/api/devices/delete"/>

		<!--ehrs-->
		<add key="GetAllEHR" value="http://localhost:5000/api/ehr"/>
		<add key="GetEHRById" value="http://localhost:5000/api/ehr"/>
		<add key="CreateEHR" value="http://localhost:5000/api/ehr/create"/>
		<add key="UpdateEHR" value="http://localhost:5000/api/ehr/update"/>
		<add key="DeleteEHR" value="http://localhost:5000/api/ehr/delete"/>
		
	</appSettings>
</configuration>